# Logs
logs
*.log

# Python
__pycache__/
*.py[cod]
.venv
env/
venv/
Include/
Lib/
Scripts/
pyvenv.cfg
share/

# Data & Output (Ignored for size)
data/
output/
models/
cache/
.DS_Store

# Editor
.vscode/
.idea/
